In [4]:
import pandas as pd
import plotly.express as px
import plotly.offline as pyo
import os

In [5]:
df=pd.read_csv("gdp.csv")
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

How many unique Countries Data we having in the dataset?

In [7]:
df["Country Name"].nunique()

256

How many years of Data we're having for India?

In [8]:
s=df[df["Country Name"]=="India"]
s2=s["Year"].nunique()
s2

57

Whats the world GDP in 1969?

In [9]:
s=df[df["Year"]==1969]
s2=s["Value"].sum()
s2

19577201579296.54

Whats the % of GDP growth of India in Year 1994 (*as compare to 1993)?

In [10]:
s=df[df["Country Name"]=="India"]
s2=s[s["Year"]==1993]
s3=s[s["Year"]==1994]
a=s3["Value"]
b=s2["Value"]
p=((a-b)/b)*100
p

6107   NaN
6108   NaN
Name: Value, dtype: float64

ARAB WORLD

In [11]:
arab=df[df["Country Name"]=="Arab World"]
arab.head()

In [12]:
arab.plot(kind="line",figsize=(15,6),x="Year",y="Value",xlabel="YEARS",ylabel="GDP",grid=True,legend=True)

GDP growth of Arab

In [13]:
data=arab.values

In [14]:
gdp=[0]
for i in range(1,len(data)):
    prev=data[i-1][3]
    curr=data[i][3]
    gdp.append(round(((curr-prev)/prev)*100,2))

In [15]:
arab.assign(GDPchange=gdp)

GDP growth of all countries

In [16]:
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [17]:
final_data=[]
for country in df["Country Name"].unique():
    datadf=df[df["Country Name"]==country]
    data=datadf.values
    gdp=[0]
    for i in range(1,len(data)):
        prev=data[i-1][3]
        curr=data[i][3]
        gdp.append(round(((curr-prev)/prev)*100,2))
    datadf=datadf.assign(GDP_change=gdp)
    final_data.append(datadf)
    df2=pd.concat(final_data,axis=0)

In [18]:
df2

      Country Name Country Code  Year         Value  GDP_change
0       Arab World          ARB  1968  2.576068e+10        0.00
1       Arab World          ARB  1969  2.843420e+10       10.38
2       Arab World          ARB  1970  3.138550e+10       10.38
3       Arab World          ARB  1971  3.642691e+10       16.06
4       Arab World          ARB  1972  4.331606e+10       18.91
...            ...          ...   ...           ...         ...
11502     Zimbabwe          ZWE  2012  1.424249e+10       17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10        8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10        2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10        2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10        1.93

[11507 rows x 5 columns]

In [19]:
df.groupby('Country Name').max()['Value'].sort_values(ascending = False).head(50)

Country Name
World                                                   7.904923e+13
High income                                             5.036240e+13
OECD members                                            4.937008e+13
Post-demographic dividend                               4.673504e+13
IDA & IBRD total                                        2.948247e+13
Low & middle income                                     2.870476e+13
Middle income                                           2.829277e+13
IBRD only                                               2.739661e+13
Europe & Central Asia                                   2.365470e+13
East Asia & Pacific                                     2.248043e+13
Upper middle income                                     2.221220e+13
North America                                           2.016030e+13
Late-demographic dividend                               1.970310e+13
European Union                                          1.913667e+13
United States                                           1.862448e+13
Euro area                                               1.411818e+13
East Asia & Pacific (excluding high income)             1.351244e+13
East Asia & Pacific (IDA & IBRD countries)              1.348649e+13
China                                                   1.119915e+13
Early-demographic dividend                              1.052987e+13
Latin America & Caribbean                               6.391550e+12
Lower middle income                                     6.263373e+12
Japan                                                   6.203213e+12
Latin America & the Caribbean (IDA & IBRD countries)    6.171392e+12
Latin America & Caribbean (excluding high income)       5.905518e+12
Europe & Central Asia (IDA & IBRD countries)            4.893444e+12
Europe & Central Asia (excluding high income)           4.369243e+12
Germany                                                 3.890607e+12
Middle East & North Africa                              3.563559e+12
United Kingdom                                          3.074360e+12
France                                                  2.923466e+12
Arab World                                              2.906616e+12
South Asia (IDA & IBRD)                                 2.892481e+12
South Asia                                              2.892481e+12
Brazil                                                  2.616202e+12
Italy                                                   2.390729e+12
Russian Federation                                      2.297128e+12
India                                                   2.263792e+12
IDA total                                               2.094666e+12
Canada                                                  1.842628e+12
Sub-Saharan Africa                                      1.780285e+12
Sub-Saharan Africa (IDA & IBRD countries)               1.780285e+12
Sub-Saharan Africa (excluding high income)              1.778862e+12
Middle East & North Africa (excluding high income)      1.681555e+12
Middle East & North Africa (IDA & IBRD countries)       1.670274e+12
Spain                                                   1.635015e+12
Australia                                               1.567179e+12
Central Europe and the Baltics                          1.524160e+12
Pre-demographic dividend                                1.496971e+12
Korea, Rep.                                             1.411334e+12
Name: Value, dtype: float64

GDP Graph of Countries

GDP of individual countries

In [21]:
os.mkdir("GDP Individual")
for country in df["Country Name"].unique():
    df3=df[df["Country Name"]==country]
    fig=px.line(df3,x="Year",y="Value",title="GDP of "+country)
    pyo.plot(fig,filename="GDP Individual/"+country+".html",auto_open=False)

GDP of all countries

In [25]:
os.mkdir("GDP Plot")
fig=px.line(df,x="Year",y="Value",color="Country Name",title="World GDP")
pyo.plot(fig,filename="GDP Plot/WorldGDP.html")

'GDP Plot/WorldGDP.html'

GDP of India and China

In [27]:
ind=df[df["Country Name"]=="India"]
chn=df[df["Country Name"]=="China"]
df3=pd.concat([ind,chn],axis=0)
fig=px.line(df3,x="Year",y="Value",color="Country Name",title="India-China GDP")
pyo.plot(fig,filename="GDP Plot/India-china.html")

'GDP Plot/India-china.html'

GDP of World and China

In [31]:
wor=df[df["Country Name"]=="World"]
df3=pd.concat([chn,wor],axis=0)
fig=px.line(df3,x="Year",y="Value",title="World-China GDP",color="Country Name")
pyo.plot(fig,filename="GDP Plot/World-China.html")

'GDP Plot/World-China.html'

Comparision between specific countries

In [36]:
lst=["IND","CHN","USA","ITA"]
data=[]
for i in lst:
    data.append(df[df["Country Code"]==i])
    df3=pd.concat(data,axis=0)
fig=px.line(df3,x="Year",y="Value",title="GDP of "+" ".join(lst),color="Country Code")
pyo.plot(fig,filename="GDP Plot/GDPoflist.html")

'GDP Plot/GDPoflist.html'

Function to compare specific countries

In [43]:
def comparegdp(lst,isOpen):
    data=[]
    for i in lst:
        data.append(df[df["Country Code"]==i])
        df3=pd.concat(data,axis=0)
    fig=px.line(df3,x="Year",y="Value",title="GDP of "+" ".join(lst),color="Country Code")
    pyo.plot(fig,filename="GDP Plot/functionGDPof"+"-".join(lst)+".html",auto_open=isOpen)
    
comparegdp(["IND","ITA"],True)

GDP change comparision between countries

In [47]:
os.mkdir("GDP Change")

In [48]:
def comparegdp(lst,isOpen):
    data=[]
    for i in lst:
        data.append(df2[df2["Country Code"]==i])
        df3=pd.concat(data,axis=0)
    fig=px.line(df3,x="Year",y="GDP_change",title="GDP of "+" ".join(lst),color="Country Code")
    pyo.plot(fig,filename="GDP Change/functionGDPof"+"-".join(lst)+".html",auto_open=isOpen)
    
comparegdp(["IND","ITA"],True)

GDP change in all countries

In [50]:
fig=px.line(df2,x="Year",y="GDP_change",title="GDP of "+" ".join(lst),color="Country Name")
pyo.plot(fig,filename="GDP Change/functionGDPofallcountries.html")

'GDP Change/functionGDPofallcountries.html'

GDP change in all countries individually

In [53]:
os.mkdir("GDP change Individual")
for country in df2["Country Name"].unique():
    df3=df2[df2["Country Name"]==country]
    fig=px.line(df3,x="Year",y="GDP_change",title="GDP change of "+country)
    pyo.plot(fig,filename="GDP change Individual/"+country+".html",auto_open=False)

GDP Growth between 1960 - 2016

In [56]:
dfs = []
for country_name in df2['Country Name'].unique():
    df_pr = df2[df2['Country Name'] == country_name]
    if (len(df_pr) == 57):
        dfs.append(df_pr)      
df_pr = pd.concat(dfs, axis = 0)

In [57]:
fig = px.line(df_pr, x = 'Year', y = 'GDP_change', title = 'GDP Growth', color = 'Country Name')
pyo.plot(fig, filename = 'GDP Change/GDP Growth.html', auto_open = True)

'GDP Change/GDP Growth.html'